.scrolling {
  max-height: 500px;
  overflow-y: auto;
}

.math.display {
  font-size: 75%;
}

.quarto-title-author-name {
  font-size: 0.75em; !important;
}

.date {
  font-size: 0.75em; !important;
}
